<nav>
  <ul>
    {% assign sorted_pages = site.pages | sort:"nav_order" %}
    {% for page in sorted_pages %}
      {% if page.nav_order %}
        <li>
          <a href="{{ page.url }}">{{ page.title }}</a>
          {% if page.has_children %}
            <ul>
              {% assign sorted_subpages = site.pages | where:"parent", page.title | sort:"nav_order" %}
              {% for subpage in sorted_subpages %}
                <li><a href="{{ subpage.url }}">{{ subpage.title }}</a></li>
              {% endfor %}
            </ul>
          {% endif %}
        </li>
      {% endif %}
    {% endfor %}
  </ul>
</nav>
